.header {
    width: 100%;
    height: 85px;
    background-color: var(--secondary-color);
    position: relative;
}

.header .container {
    width: 1200px;
    height: 85px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}
.header .container .logo {
    color: #fff;
    font-size: 25px;
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.header .container .logo span {
    color: #f34c55;
}

.header .container .logo:hover {
    color: var(--primary-color);
}

.header .container   label{
    width: 32px;
    height: 32px;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.header .container .menu {
    display: flex;
    flex-direction: row;
    margin-top: 1px;
}

.header .container .menu a {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-right: 35px;
    transition: 150ms color ease-in-out;
    cursor: pointer;
}
.header .container .menu a svg {
    margin-bottom: 5px;
}

.header .container .menu a:hover {
    color:  var(--primary-color);
}
.header .container .menu a svg {
    transition: 150ms fill ease-in-out;
}

.header .container .menu a:hover svg {
    fill: var(--primary-color)!important;
}
.header .container  .user-actions .signin {
    width: 120px;
    height: 45px;
    background-color: #f34c55;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms background-color ease-in-out;
}

.logout {
    width: 120px;
    height: 45px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms background-color ease-in-out;
    background-color: #4d0a0d; 
}

.logout:hover {
    background-color: #f34c54e1;
}
.header .container  .user-actions .signin:hover {
    background-color: #f34c54e1;
}

@media only screen and (max-width: 1200px) {
    .header .container {
        width: 1000px;
    }
    .recommended-movie .container {
        width: 1000px;
    }
    .movie-types .container {
        width: 1000px;
    }
    .movie-types .container .wrapper .movie:nth-child(5) {
        display: none;
    }

    .footer .container {
        width: 1000px;
    }
  }


  @media only screen and (max-width: 1000px) {
    .header .container {
        width: 800px;
    }
    .recommended-movie .container {
        width: 800px;
    }
    .movie-types .container {
        width: 800px;
    }
    .movie-types .container .wrapper .movie:nth-child(4) {
        display: none;
    }
    .footer .container {
        width: 800px;
    }
  }

  @media only screen and (max-width: 800px) {
    .header .container {
        width: 600px;
    }

    .header .container .menu {
        display: none;
    }
    .header .container .user-actions {
        display: none;
    }
    .header .container   label{
        opacity: 1;
        visibility: visible;
        display: block;
    }
    .recommended-movie .container {
        width: 600px;
    }
    .recommended-movie .container {
        height: 450px;
    }
    .movie-types .container {
        width: 600px;
    }
    .movie-types .container .wrapper  {
        justify-content: space-around;
    }
    .movie-types .container .wrapper .movie:nth-child(3) {
        display: none;
    }
    .footer .container {
        width: 600px;
    }
  }

  @media only screen and (max-width: 600px) {
    .header .container {
        width: 550px;
    }

    .header .container .menu {
        display: none;
    }
    .recommended-movie .container {
        width: 550px;
    }
    .recommended-movie .container {
        height: 400px;
    
    }
    .recommended-movie .container .desc .title {
        font-size: 35px;
    
    }
    .movie-types .container {
        width: 550px;
    }
    .movie-types .container .wrapper  {
        justify-content: space-around;
    }
    .movie-types .container .wrapper .movie:nth-child(3) {
        display: none;
    }
    .footer .container {
        width: 550px;
    }
  }


  @media only screen and (max-width: 550px) {
    .header .container {
        width: 500px;
    }

    .header .container .menu {
        display: none;
    }
    .recommended-movie .container {
        width: 500px;
    }
    .recommended-movie .container {
        height: 400px;
    
    }
    .recommended-movie .container .desc  {
        left: 40px;
        bottom: 40px;
    
    }
    .recommended-movie .container .desc .title {
        font-size: 35px;
    
    }
    .movie-types .container {
        width: 500px;
    }
    .movie-types .container .wrapper  {
        justify-content: space-around;
    }
    .movie-types .container .wrapper .movie:nth-child(3) {
        display: none;
    }
    .footer .container {
        width: 500px;
    }
  }


  @media only screen and (max-width: 500px) {
    .header .container {
        width: 450px;
    }

    .header .container .menu {
        display: none;
    }
    .recommended-movie .container {
        width: 450px;
    }
    .recommended-movie .container {
        height: 350px;
    
    }
    .recommended-movie .container .desc  {
        left: 40px;
        bottom: 40px;
    
    }
    .recommended-movie .container .desc .title {
        font-size: 30px;
    
    }
    .movie-types .container {
        width: 450px;
    }
    .movie-types .container .wrapper  {
        justify-content: space-between!important;
    }
    .movie-types .container .wrapper .movie {
        width: 210px;
        height: 320px;
    }
    .movie-types .container .wrapper .movie:nth-child(3) {
        display: none;
    }
    .footer .container {
        width: 450px;
    }
  }



  @media only screen and (max-width: 450px) {
    .header .container {
        width: 400px;
    }

    .header .container .menu {
        display: none;
    }
    .recommended-movie .container {
        width: 400px;
    }
    .recommended-movie .container {
        height: 300px;
    
    }
    .recommended-movie .container .desc  {
        left: 40px;
        bottom: 40px;
    
    }
    .recommended-movie .container .desc .title {
        font-size: 30px;
    
    }
    .movie-types .container {
        width: 400px;
    }
    .movie-types .container .wrapper  {
        justify-content: space-around;
    }
    .movie-types {
        height: 380px;
    }
    .movie-types .container .wrapper .movie {
        width: 190px;
        height: 300px;
    }
    .movie-types .container .wrapper .movie:nth-child(3) {
        display: none;
    }
    .footer .container {
        width: 400px;
    }
  }



  @media only screen and (max-width: 400px) {
    .header .container {
        width: 350px;
    }

    .header .container .menu {
        display: none;
    }
    .recommended-movie .container {
        width: 350px;
    }
    .recommended-movie .container {
        height: 300px;
    
    }
    .recommended-movie .container .desc  {
        left: 30px;
        bottom: 30px;
    
    }
    .recommended-movie .container .desc .title {
        font-size: 25px;
    
    }

    .recommended-movie .container .desc .about {
        font-size: 16px;
    
    }
    .movie-types .container {
        width: 350px;
    }
    .movie-types .container .wrapper  {
        justify-content: space-around;
    }
    .movie-types {
        height: 330px;
    }
    .movie-types .container h5 {
        font-size: 20px;
    }
    .movie-types .container .wrapper .movie {
        width: 170px;
        height: 275px;
    }
    .movie-types .container .wrapper .movie:nth-child(3) {
        display: none;
    }

    .footer .container {
        width: 350px;
    }
  }


  @media only screen and (max-width: 350px) {
    .header .container {
        width: 320px;
    }

    .header .container .menu {
        display: none;
    }
    .recommended-movie .container {
        width: 320px;
    }
    .recommended-movie .container {
        height: 300px;
    
    }
    .recommended-movie .container .desc  {
        left: 30px;
        bottom: 30px;
    
    }
    .recommended-movie .container .desc .title {
        font-size: 25px;
    
    }

    .recommended-movie .container .desc .about {
        font-size: 16px;
    
    }
    .movie-types .container {
        width: 320px;
    }
    .movie-types .container .wrapper  {
        justify-content: space-around;
    }
    .movie-types {
        height: 310px;
    }
    .movie-types .container h5 {
        font-size: 18px;
    }
    .movie-types .container .wrapper .movie {
        width: 155px;
        height: 245px;
    }
    .movie-types .container .wrapper .movie:nth-child(3) {
        display: none;
    }
    .footer .container {
        width: 320px;
    }
  }