.profile-container {
    padding: 8rem 0;
}

.profile-content {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

@media screen and (max-width: 580px) {
    
    .profile-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
    }
}

.register-container {
    padding: 24px 16px;
}

.card-profile {
    max-width: 475px;
      padding: 20px 16px;
      margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #121214;
    background-clip: border-box;
    border: 0.0625rem solid rgba(34, 42, 66, 0.05);
    border-radius: 0.2857rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
      0 2px 4px rgba(0,0,0,0.07), 
      0 4px 8px rgba(0,0,0,0.07), 
      0 8px 16px rgba(0,0,0,0.07),
      0 16px 32px rgba(0,0,0,0.07), 
      0 32px 64px rgba(0,0,0,0.07);
  }

  .card-profile .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .card-user {
    overflow: hidden;
  }
  
  .card-user .image {
    height: 120px;
  }
  
  .card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: 25px;
  }
  
  .card-user .author a+p.description-profile {
    margin-top: 7px;
  }
  
  .card-user .author .block {
    position: absolute;
    height: 100px;
    width: 250px;
  }
  
  .card-user .author .block.block-one {
    background: rgba(18, 224, 97, 0.6);
    background: -webkit-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0.6) 100%);
    background: -o-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0.6) 100%);
    background: -moz-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0.6) 100%);
    background: linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
    margin-top: -90px;
    margin-left: -50px;
  }
  
  .card-user .author .block.block-two {
    background: rgba(18, 224, 97, 0.6);
    background: -webkit-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: -o-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: -moz-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-top: -40px;
    margin-left: -100px;
  }
  
  .card-user .author .block.block-three {
    background: rgba(18, 224, 97, 0.6);
    background: -webkit-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: -o-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: -moz-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
    -webkit-transform: rotate(170deg);
    -moz-transform: rotate(170deg);
    -ms-transform: rotate(170deg);
    -o-transform: rotate(170deg);
    transform: rotate(170deg);
    margin-top: -70px;
    right: -45px;
  }
  
  .card-user .author .block.block-four {
    background: rgba(18, 224, 97, 0.6);
    background: -webkit-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: -o-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: -moz-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
    margin-top: -25px;
    right: -45px;
  }
  
  .card-user .avatar {
    width: 124px;
    height: 124px;
    border: 5px solid #2ecc71;
    border-bottom-color: transparent;
    background-color: transparent;
    position: relative;
  }
  
  .card-user .card-body-profile {
    min-height: 240px;
  }
  
  .card-user hr {
    margin: 5px 15px;
  }

  .card-user .button-container {
    margin-bottom: 6px;
    text-align: center;
  }
  
  .card-description-profile {
    margin-top: 20px;
    padding: 20px;
  }
  
  .description-profile,
.card-description-profile,
.footer-big p,
.card-profile .footer .stats {
  color: #9A9A9A;
  font-weight: 300;
}

.card-user .title {
    color: #2ecc71;
    font-size: 14px;
    font-weight: 700;
}

.register-container {
    padding: 24px 16px;
}
.register-container
    .form-container {
        color: #fff;
      max-width: 575px;
      border: 1px solid #121214;
      padding: 20px 16px;
      margin: -25px auto;
      border-radius: 5px;
      background-color: #121214;
      box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
      0 2px 4px rgba(0,0,0,0.07), 
      0 4px 8px rgba(0,0,0,0.07), 
      0 8px 16px rgba(0,0,0,0.07),
      0 16px 32px rgba(0,0,0,0.07), 
      0 32px 64px rgba(0,0,0,0.07);
    }
     .form-container > h2 {
        text-align: left;
        margin-bottom: 32px;
      }

      .form-container > p {
        margin: 10px 0;
      }

      .form-container > .error-container {
        padding: 12px;
        margin: 0 0 16px;
        color: #fff;
        background-color: rgb(248, 51, 51);
        border-radius: 4px;
      }
      .form-container > 
        form > .cta-container {
          margin-top: 36px;
          margin-bottom: 60px;
          text-align: center;
        }
        
        
        .forgot-password {
          margin-bottom: 5px;
          text-align: center;
          font-size: 1rem;
        }
        .forgot-password > a {
            color: #f34c55;
            cursor: pointer;

          }
          .register-btn {
              margin-top: 15px;
          }
  
          .register-btn a {
            color: #f34c55;
          }
  @media screen and (min-width: 768px) {
    .register-container {
      padding: 48px 16px 240px;
      
    }

    .register-container  .form-container {
        padding: 36px;
    }
  }

  /* Input Element */
  .form-container
  .input-container {
    margin-bottom: 12px;
  }



    .input-container > input {
        padding: 14px 12px;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: #0a0a0a;
        color: #fff;
        margin: 10px 0;
        font-weight: 600;
    }


    .input-container > input:focus {
        border: 2px solid #f34c55;
        border-radius: 5px;
    }

  
    .checkbox-container a {
        color: #f34c55;
    }

    .checkbox-container a:hover {
        opacity: .7;
    }

    .back {
        margin: 10px 0;
    }

    .back-login {
        color: #f34c55;
    }

    .checkbox-container > span {
        text-align: center;
    }

    .btn {
      border-radius: 5px;
      color: #fff;
      width: 50%;
      height: 50px;
      background:#f34c55;
      font-size: 16px;
      font-weight: 600;
      transition-duration: 167ms;
      text-align: center;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
    }

    .btn:hover {
        opacity: .7;
    }

   