
<div class="movie-types">
    <div class="container">
        <h5>{{category}} <a routerLink="/movies">Todos<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="rgba(255,255,255,1)"/></svg></a></h5>
        <div class="wrapper" >
            <a *ngFor="let item of movies" 
            class="movie"  
            [ngStyle]="{'background-image': 'url(' + url + item?.image +')'}"
            (click)=" onSelectedMove(item?.id)"
            ></a> 
        </div>
    </div>
</div>
